#textdomain wesnoth-Era_of_Magic

#define I8RANDOM_DEFAULT_SIDE
    [multiplayer_side]
        id=Random
        name= _"Random Default"
        image="units/random-dice.png"
        {MAGENTA_IS_THE_TEAM_COLOR}
        random_faction=yes
        choices=Drakes,Knalgan Alliance,Loyalists,Northerners,Rebels,Undead
    [/multiplayer_side]
#enddef

[era]
    id=era_magic_{ERA_OF_MAGIC_VERSION}
    name= _ "Era of Magic"
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE magic enlightenedones}
    {EOMA_SIDE magic summoners}
    {EOMA_SIDE magic warlocks}
    {EOMA_SIDE magic kharos}
    {EOMA_SIDE magic barbarians}
    {EOMA_SIDE magic runemasters}
    {EOMA_SIDE magic darkblood}
    {EOMA_SIDE magic destroyers}

    {I8CUSTOMPLAGUEEVENT}
    {CONCENTRATED_EVENTS}
[/era]

[era]
    id=era_magic_rpg_{ERA_OF_MAGIC_VERSION}
    name= _ "EoMa RPG"
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE mrpg enlightenedones}
    {EOMA_SIDE mrpg summoners}
    {EOMA_SIDE mrpg warlocks}
    {EOMA_SIDE mrpg kharos}
    {EOMA_SIDE mrpg barbarians}
    {EOMA_SIDE mrpg runemasters}
    {EOMA_SIDE mrpg darkblood}
    {EOMA_SIDE mrpg destroyers}

    {I8CUSTOMPLAGUEEVENT}
    {CONCENTRATED_EVENTS}
[/era]

[era]
    id=era_magic_masters_{ERA_OF_MAGIC_VERSION}
    name= _ "EoMa Heroes"
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE masters enlightenedones}
    {EOMA_SIDE masters summoners}
    {EOMA_SIDE masters warlocks}
    {EOMA_SIDE masters kharos}
    {EOMA_SIDE masters barbarians}
    {EOMA_SIDE masters runemasters}
    {EOMA_SIDE masters darkblood}
    {EOMA_SIDE masters destroyers}

    {I8CUSTOMPLAGUEEVENT}
    {CONCENTRATED_EVENTS}
[/era]

[era]
    id=era_magic_slaves_{ERA_OF_MAGIC_VERSION}
    name= _ "EoMa Masters & Slaves"
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE slaves enlightenedones}
    {EOMA_SIDE slaves summoners}
    {EOMA_SIDE slaves warlocks}
    {EOMA_SIDE slaves kharos}
    {EOMA_SIDE slaves barbarians}
    {EOMA_SIDE slaves runemasters}
    {EOMA_SIDE slaves darkblood}
    {EOMA_SIDE slaves destroyers}

    {I8CUSTOMPLAGUEEVENT}
    {CONCENTRATED_EVENTS}
[/era]

[era]
    id=era_default_magic_{ERA_OF_MAGIC_VERSION}
    name= _ "Default + EoMa"
    require_era=yes

    {RANDOM_SIDE}
    #{I8RANDOM_DEFAULT_SIDE}
    {EOMA_SIDE magic enlightenedones}
    {EOMA_SIDE magic summoners}
    {EOMA_SIDE magic warlocks}
    {EOMA_SIDE magic kharos}
    {EOMA_SIDE magic barbarians}
    {EOMA_SIDE magic runemasters}
    {EOMA_SIDE magic darkblood}
    {EOMA_SIDE magic destroyers}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}

    {I8CUSTOMPLAGUEEVENT}
    {CONCENTRATED_EVENTS}
[/era]

[era]
    id=era_heroes_magic_{ERA_OF_MAGIC_VERSION}
    name= _ "Heroes + EoMa"
    require_era=yes

    {RANDOM_SIDE}
    #{I8RANDOM_DEFAULT_SIDE}
    {EOMA_SIDE masters enlightenedones}
    {EOMA_SIDE masters summoners}
    {EOMA_SIDE masters warlocks}
    {EOMA_SIDE masters kharos}
    {EOMA_SIDE masters barbarians}
    {EOMA_SIDE masters runemasters}
    {EOMA_SIDE masters darkblood}
    {EOMA_SIDE masters destroyers}
    {multiplayer/factions/loyalists-aoh.cfg}
    {multiplayer/factions/rebels-aoh.cfg}
    {multiplayer/factions/northerners-aoh.cfg}
    {multiplayer/factions/undead-aoh.cfg}
    {multiplayer/factions/knalgans-aoh.cfg}
    {multiplayer/factions/drakes-aoh.cfg}

    {I8CUSTOMPLAGUEEVENT}
    {CONCENTRATED_EVENTS}
[/era]
