#textdomain wesnoth-Era_of_Magic
[unit_type]
	id=I8 Elementalist
	name= _ "Elementalist"
	race=human
	image="enlightened-elementalists/elementalist.png"
	ellipse="misc/ellipse"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=25
	movement_type=smallfoot
	movement=6
	experience=50
	level=1
	alignment=neutral
	advances_to=I8 enlightened_mage_of_fire,I8 enlightened_mage_of_air,I8 enlightened_mage_of_water
	cost=16
	usage=mixed fighter
	description= _  "Elementalists aren't as good in battle like other Enlightened Ones, but are relatively fast and become quite powerful quickly, choosing one of the Elemental Paths."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
	die_sound={SOUND_LIST:HUMAN_DIE}
	{DEFENSE_ANIM "enlightened-elementalists/elementalist-defend.png" "enlightened-elementalists/elementalist.png" {SOUND_LIST:HUMAN_OLD_HIT} }
	[idle_anim]
	[frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-fire1.png"
    [/frame]
    [frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-fire2.png"
    [/frame]
    [frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-fire3.png"
    [/frame]
    [frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-water1.png"
    [/frame]
    [frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-water2.png"
    [/frame]
    [frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-water3.png"
    [/frame]
    [frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-air1.png"
    [/frame]
    [frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-air2.png"
    [/frame]
    [frame]
        duration=100
        image="enlightened-elementalists/elementalist-idle-air3.png"
    [/frame]
    [/idle_anim]
	[death]
		[frame]
			begin=0
			end=100
			image="enlightened-elementalists/elementalist-die-1.png"
		[/frame]
		[frame]
			begin=100
			end=200
			image="enlightened-elementalists/elementalist-die-2.png"
		[/frame]
		[frame]
			begin=200
			end=300
			image="enlightened-elementalists/elementalist-die-3.png"
		[/frame]
		[frame]
			begin=300
			end=400
			image="enlightened-elementalists/elementalist-die-4.png"
		[/frame]
	[/death]
	[attack]
		name=staff
description=_"staff"
		icon=attacks/staff-magic.png
		type=impact
		range=melee
		damage=6
		number=1
	[/attack]
	[attack]
		name=missile
description=_"missile"
		icon=attacks/magic-missile.png
		type=arcane
		range=ranged
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
		damage=7
		number=3
	[/attack]
		[attack_anim]
			[filter_attack]
			    name=staff
			[/filter_attack]
			hits=no
			[frame]
				begin=-250
				end=-200
				image="enlightened-elementalists/elementalist.png"
			[/frame]
			[frame]
				begin=-200
				end=-100
				image="enlightened-elementalists/elementalist-attack-staff-1.png"
			[/frame]
			[frame]
				begin=-100
				end=100
				image="enlightened-elementalists/elementalist-attack-staff-2.png"
				sound={SOUND_LIST:MISS}
			[/frame]
			[frame]
				begin=100
				end=150
				image="enlightened-elementalists/elementalist-attack-magic1.png"
			[/frame]
			[frame]
				begin=150
				end=200
				image="enlightened-elementalists/elementalist.png"
			[/frame]
		[/attack_anim]
		[attack_anim]
			[filter_attack]
			    name=staff
			[/filter_attack]
			hits=yes
			[frame]
				begin=-250
				end=-200
				image="enlightened-elementalists/elementalist.png"
			[/frame]
			[frame]
				begin=-200
				end=-100
				image="enlightened-elementalists/elementalist-attack-staff-1.png"
			[/frame]
			[frame]
				begin=-100
				end=100
				image="enlightened-elementalists/elementalist-attack-staff-2.png"
				sound=staff.wav
			[/frame]
			[frame]
				begin=100
				end=150
				image="enlightened-elementalists/elementalist-attack-magic1.png"
			[/frame]
			[frame]
				begin=150
				end=200
				image="enlightened-elementalists/elementalist.png"
			[/frame]
		[/attack_anim]
		[attack_anim]
			[filter_attack]
			    name=missile
			[/filter_attack]
			[missile_frame]
				begin=-200
				end=0
				halo=halo/mage-halo1.png,halo/mage-halo2.png,halo/mage-halo3.png,halo/mage-halo4.png,halo/mage-halo5.png
				halo_x,halo_y=7,-17
			[/missile_frame]
			[frame]
				begin=-400
				end=-350
				image="enlightened-elementalists/elementalist-attack-magic1.png"
			[/frame]
			[frame]
				begin=-350
				end=-200
				image="enlightened-elementalists/elementalist-attack-magic2.png"
				halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
				halo_x,halo_y=6,-19
			[/frame]
			[if]
				hits=no
				[frame]
					begin=-200
					end=0
					image="enlightened-elementalists/elementalist-attack-magic2.png"
					halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
					halo_x,halo_y=6,-19
					sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
				[/frame]
			[/if]
			[else]
				hits=yes
				[frame]
					begin=-200
					end=0
					image="enlightened-elementalists/elementalist-attack-magic2.png"
					halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
					halo_x,halo_y=6,-19
					sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg
				[/frame]
			[/else]
			[frame]
				begin=0
				end=50
				image="enlightened-elementalists/elementalist-attack-magic1.png"
			[/frame]
		[/attack_anim]
[/unit_type]
