#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=kharos
    name={MENU_IMG_TXT "kharos-sun/kirios.png~RC(magenta>red)" _"Kharos"}
    type=EoMa_Prophet_of_Light
    leader=EoMa_Prophet_of_Light,EoMa_Mistress_of_Light,EoMa_Sun_Guardian,EoMa_Platinum_Warrior,EoMa_Golden_Warrior
    random_leader=EoMa_Prophet_of_Light,EoMa_Mistress_of_Light,EoMa_Sun_Guardian,EoMa_Platinum_Warrior,EoMa_Golden_Warrior
    recruit=EoMa_White_Warrior,EoMa_Adept_of_Light,EoMa_Shielder,EoMa_Slicer,EoMa_Cavalry_Archer,EoMa_Sun_Follower,EoMa_War_Banner,EoMa_Sister_of_Light
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,healer,archer
    [/ai]
[/multiplayer_side]
