#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=ancientdwarves_masters
    name={MENU_IMG_TXT "ad-machines/pacificator.png~RC(magenta>red)" _"Runemasters"}
    type=EoMa_Rune_Artist
    leader=EoMa_Rune_Artist,EoMa_Dwarvish_Rune_Warrior,EoMa_Pacificator
    random_leader=EoMa_Rune_Artist,EoMa_Dwarvish_Rune_Warrior,EoMa_Pacificator
    recruit=EoMa_Striding_Machine,EoMa_Steam_Ulfserker,EoMa_Dwarvish_Warrior,EoMa_Mechanic,EoMa_Runeadept,EoMa_Balloon,EoMa_Heavy_Balloon,EoMa_Runesmith,EoMa_Dwarvish_Heavy_Warrior,EoMa_Technician,EoMa_Dwarvish_Tank,EoMa_Steamcopter,EoMa_Red_Ulfserker
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]
