#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=summoners_masters
    name={MENU_IMG_TXT "al-kamija-enchanted-ones/jinn-mystic2.png~RC(magenta>red)" _"al-Kamija"}
    type=I8 Ak_SummonerIII
    leader=I8 Ak_SummonerIII,I8 Ak_SummonerHeavy,I8 Ak_Masterofbalance,I8 Ak_Banisher,I8 Ak_Jinn_Wonderful,I8 Ak_EfreetiGreat,I8 Ak_HoRhami,I8 Ak_DharmaRhami
    random_leader=I8 Ak_SummonerIII,I8 Ak_SummonerHeavy,I8 Ak_Masterofbalance,I8 Ak_Banisher,I8 Ak_Jinn_Wonderful,I8 Ak_EfreetiGreat,I8 Ak_HoRhami,I8 Ak_DharmaRhami
    recruit=I8 Ak_Summoner,I8 Ak_Dispeller,I8 Ak_Enchanted,I8 Ak_Enchanted2,I8 Ak_Jinn,I8 Ak_Rhami,I8 Ak_Elemental_fire,I8 Ak_Elemental_water,I8 Ak_CamelRider,I8 Ak_CarpetRider,I8 Ak_SummonerII,I8 Ak_Jinn_Great,I8 Ak_Efreeti,I8 Ak_Avatar_fire,I8 Ak_Avatar_water,I8 Ak_CarpetMaster,I8 Ak_HeavyCamelRider,I8 Ak_RhamiDatu,I8 Ak_RhamiKai
    music=""
    terrain_liked=gcs
    [ai]
        #recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,scout,scout,healer
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,archer,scout,scout,scout,healer
    [/ai]
[/multiplayer_side]
