#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=summoners
    name={MENU_IMG_TXT "al-kamija-enchanted-ones/jinn-mystic2.png~RC(magenta>red)" _"al-Kamija"}
    type=TLU_Grand_Summoner
    leader=TLU_Grand_Summoner,EoMa_Heavy_Summoner,EoMa_Neutral_Summoner,EoMa_Banisher,EoMa_Wonderful_Jinn,EoMa_Great_Efreeti,EoMa_DharmaRhami,EoMa_HoRhami
    random_leader=TLU_Grand_Summoner,EoMa_Heavy_Summoner,EoMa_Neutral_Summoner,EoMa_Banisher,EoMa_Wonderful_Jinn,EoMa_Great_Efreeti,EoMa_DharmaRhami,EoMa_HoRhami
    recruit=EoMa_Novice_Summoner,EoMa_Dimensional_Gate,EoMa_Jinn,EoMa_Rhami,EoMa_Fire_Elemental,EoMa_Water_Elemental,EoMa_Camel_Rider,EoMa_Carpet_Rider
    terrain_liked=gcs
    [ai]
        #recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,scout,scout,healer
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,archer,scout,scout,scout,healer
    [/ai]
[/multiplayer_side]
